/* regole generali */

body {
    font-family: Arial, sans-serif;
}

section {
    padding: 30px 0;
}

h2 {
    margin-bottom: 20px;
}

.my-btn {
    display: inline-block;
    color: white;
    background-color: #2d64e6;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
}

#jumbo-top .my-btn, #nuove-uscite-top .my-btn {
    background-color: #cd3d0f;
}

img {
    max-width: 100%;
}

#jumbo-top img, #nuove-uscite-top img {
    width: 50%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}



/* CSS HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
}

#marchio {
    background-color: black;
    height: 50px;
    padding: 0 20px;
}

#marchio img {
    height: 20px;
    width: auto;
}

/* parte nav */

nav {
    height: 80px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: rgb(241, 240, 240);
}

nav #contenitore-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .my-btn {
    margin-top: 0;
}

nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav ul li a #freccia {
    height: 10px;
    margin-left: 10px;
}

nav #nav-dx img {
    height: 25px;
    width: auto;
}


/* CSS JUMBO */

#jumbo {
    padding-top: 130px;
}

/* CSS JUMBO parte alta */

#jumbo-top {
    background-image: url(../img/jumbo-bg.png);
    height: 675px;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.my-altezza {
    height: 100%;
}

.my-altezza-90 {
    height: 90%;
}


/* CSS JUMBO parte bassa */

#jumbo-bottom {
    margin-top: 20px;
}

#jumbo-bottom img, #nuove-uscite-bottom img {
    border-radius: 10px;
}

#jumbo-bottom .my-contenitore-img {
    margin-bottom: 20px;
}


/* CSS MAIN */

/* sezione PLAYSTATION 5 */



/* sezione NUOVE USCITE */

#nuove-uscite {
    color: white;
}

#nuove-uscite-top {
    height: 700px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nuove-uscite-bottom {
    background-color: #1f1f1f;
}


/* sezione PlayStation 4 */

#ps-4 .my-btn {
    margin-top: 10px;
}

/* banner ps-plus e ps-now */

#banner-plus {
    background-color: #bebcbb;
}

#banner-plus img.my-small, #banner-now img.my-small {
    height: 50px;
    margin-bottom: 20px;
}

#banner-plus .my-btn {
    background-color: #d9dadc;
    color: #2d64e6;
}

#banner-now {
    background-color: #161c3b;
    color: white;
}

#banner-now .my-btn {
    background-color: #f5f5f5;
    color: black;
}

@media screen and (min-width: 768px) {
    
    #banner-plus, #banner-now {
        padding: 0;
    }   
}

/* sezione SCONTI */

#sconti img {
    margin: 20px 0;
}

/* sezione social */

#social img {
    margin-bottom: 20px;
}

/* CSS FOOTER */

footer {
    color: white;
    background-color: #00439c;
    padding: 50px 0;
    font-size: 0.9rem;
}

footer a {
    color: white;
}

footer #globo {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer #globo img {
    height: 20px;
    vertical-align: top;
}

footer ul {
    list-style-type: none;
    margin-bottom: 2rem;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
}

footer #footer-sony-logo {
    height: 50px;
    margin-bottom: 20px;
}
