/* regole generali */

body {
    font-family: Arial, sans-serif;
}

section {
    padding: 30px 0;
}

main p {
    color: #727272;
}

h2 {
    margin-bottom: 20px;
}

.my-btn {
    display: inline-block;
    color: white;
    background-color: #2d64e6;
    border: 2px #2d64e6 solid;
    padding: 7px 20px;
    border-radius: 30px;
    text-decoration: none;
}

.my-contorno-btn {
    display: inline-block;
    background-color: #2d64e6;
    padding: 3px;
    border-radius: 33px;
    margin-top: 20px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

#jumbo-top img, #nuove-uscite-top img {
    width: 50%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

#jumbo-bottom img, #nuove-uscite-bottom img {
    border-radius: 10px;
}

/* parte relativa ai bottoni di jumbo e nuove-uscite-top */

#jumbo-top .my-btn, #nuove-uscite-top .my-btn {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

#jumbo-top .my-contorno-btn, #nuove-uscite-top .my-contorno-btn {
    background-color: #cd3d0f;
}

.my-contorno-btn:hover .my-btn, #jumbo-top .my-contorno-btn:hover .my-btn, #nuove-uscite-top .my-contorno-btn:hover .my-btn {
    border-color: white;
}

.my-contorno-btn:hover a {
    color: white;
}



/* CSS HEADER */

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* parte marchio Sony */

#marchio {
    background-color: black;
    height: 50px;
    padding: 0 20px;
}

#marchio img {
    height: 20px;
    width: auto;
}

/* parte nav */

nav {
    height: 80px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(241, 240, 240);
}

nav #logo {
    margin-right: 10px;
}

nav #contenitore-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

nav #nav-intero {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

nav .my-btn {
    margin: 0;
    background-color: #363636;
    border-color: #363636;
}

nav .my-contorno-btn {
    margin-top: 0;
    background-color: #363636;
}

nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

nav ul li a .freccia, nav #nav-dx .freccia, nav #nav-burger .freccia {
    height: 10px;
    margin-left: 5px;
}

nav ul li a .freccia.blu {
    display: none;
}

nav #nav-dx img, nav #nav-burger img {
    height: 25px;
    width: auto;
}

nav #nav-sx, nav #nav-dx {
    display: none;
}

nav #burger-icon {
    border: black solid 1px;
    border-radius: 10px;
    padding: 10px 10px 5px 10px;
    margin-right: 10px;
    cursor: pointer;
}

nav #burger-icon div {
    height: 2px;
    width: 25px;
    background-color: black;
    margin-bottom: 5px;
}

/* CSS relativo al menù fino a viewport MD */

nav #nav-burger {
    width: 100%;
    background-color: rgb(241, 240, 240);
    /* display: none; */
}

nav #nav-burger ul li {
    display: block;
    margin-bottom: 10px;
}

nav #nav-burger ul li:hover .freccia {
    display: none;
}

nav #nav-burger ul li:hover .freccia.blu {
    display: inline-block;
    rotate: 180deg;
}

nav #nav-burger .my-dropdown-burger {
    background-color: rgb(224, 224, 224);
    margin: 10px 0 0 30px;
    display: none;
}

nav #nav-burger ul li:hover .my-dropdown-burger {
    display: block;
}

nav #nav-burger .my-dropdown-burger-2 {
    background-color: rgb(194, 194, 194);
    display: none;
}

nav #nav-burger ul li .my-dropdown-burger li:hover .my-dropdown-burger-2 {
    display: block;
}

nav #nav-burger .my-dropdown-burger-2 li {
    display: inline-block;
}

nav #nav-burger .my-btn {
    margin-left: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

nav #nav-burger .my-btn:hover {
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

nav #nav-burger #burger-ricerca {
    margin: 0 10px;
    padding: 5px 3px;
    border: 1px solid grey;
}

nav #nav-burger input {
    width: 80%;
    border: none;
    background-color: rgb(241, 240, 240);
}

/* Come dovrebbe funzionare nella mia testa ma non so se è una selezione fattibile in CSS */
/* nav #burger-icon:hover nav #nav-burger {
    display: block;
} */


/* comparsa della nav estesa a partire da viewport large */

@media screen and (min-width: 992px) {
    
    nav #nav-intero {
        justify-content: space-between;
    }

    nav #burger-icon {
        display: none;
    }

    nav #nav-sx, nav #nav-dx {
        display: block;
    }

    nav #nav-burger {
        display: none;
    }
}

/* CSS per dropdown con viewport LG */

.my-dropdown {
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgb(241, 240, 240);
    width: 100%;
    text-align: center;
    display: none;
}

.my-dropdown img {
    display: block;
}

.my-dropdown li {
    margin: 0 10px;
}

#nav-intero ul li a:hover + .my-dropdown {
    display: block;
}

#nav-intero ul li a:hover .freccia {
    display: none;
}

#nav-intero ul li a:hover .freccia.blu {
    display: inline-block;
    rotate: 180deg;
}


/* CSS JUMBO */

#jumbo {
    padding-top: 130px;
}

/* CSS JUMBO parte alta */

#jumbo-top {
    background-image: url(../img/jumbo-bg.png);
    height: 675px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.my-altezza {
    height: 100%;
}

.my-altezza-90 {
    height: 90%;
}


/* CSS JUMBO parte bassa */

#jumbo-bottom {
    margin-top: 30px;
}

#jumbo-bottom .my-contenitore-img {
    margin-bottom: 20px;
    padding: 3px;
}

#jumbo-bottom .my-contenitore-img:hover {
    cursor: pointer;
    position: relative;
    bottom: 20px;
}

#jumbo-bottom .my-contenitore-img.attiva {
    border: 2px solid #2d64e6;
    border-radius: 14px;
}


/* CSS MAIN */

/* sezione PLAYSTATION 5 */

#ps-5 h6 {
    color: #2d64e6;
    text-transform: uppercase;
}

#ps-5 .attiva {
    border-bottom: #2d64e6 solid 2px;
}

#ps-5 .attiva p {
    color: black;
}

#ps-5 .disattiva img {
    filter: opacity(0.5);
}

#ps-5 .my-selezione:hover img {
    cursor: pointer;
    filter: opacity(1);
}

#ps-5 .my-selezione:hover p {
    color: black;
}

#ps-5 .my-spazio {
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {

    #ps-5 .my-spazio {
        margin-bottom: 0;
    }
}

/* sezione NUOVE USCITE */

#nuove-uscite, #nuove-uscite p {
    color: white;
}

#nuove-uscite-top {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#nuove-uscite-top .my-spazio {
    padding-top: 100px;
    padding-bottom: 100px;
}

#nuove-uscite-bottom {
    background-color: #1f1f1f;
    padding-top: 30px;
    padding-bottom: 30px;
}

#nuove-uscite-bottom h5 {
    margin-bottom: 20px;
}

#nuove-uscite-bottom img {
    margin-bottom: 10px;
}

#nuove-uscite-bottom p sup {
    font-size: 0.6rem;
}


/* sezione PlayStation 4 */

#ps-4 .my-contorno-btn {
    margin-top: 10px;
}

/* banner PS-PLUS e PS-NOW */

#banner-plus {
    background-color: #bebcbb;
}

#banner-plus p {
    color: black;
}

#banner-plus .my-btn {
    padding: 10px 20px;
    background-color: #d9dadc;
    border-color: #d9dadc;
    color: #2d64e6;
}

#banner-plus .my-btn:hover {
    box-shadow: 0 0 10px #d9dadc;
}

#banner-plus img.my-small, #banner-now img.my-small {
    height: 50px;
    margin-bottom: 20px;
}

#banner-now {
    background-color: #161c3b;
    color: white;
}

#banner-now p {
    color: white;
}

#banner-now .my-btn {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: black;
}

#banner-now .my-btn:hover {
    box-shadow: 0 0 10px #f5f5f5;
}

@media screen and (min-width: 768px) {
    
    #banner-plus, #banner-now {
        padding: 0;
    }   
}

/* sezione SCONTI */

#sconti img {
    margin: 20px 0;
}

/* sezione SOCIAL */

#social a {
    display: block;
    margin-bottom: 20px;
    transition: all 0.2s;
}

#social a:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

#social h3 {
    margin-bottom: 50px;
}


/* CSS FOOTER */

footer {
    color: white;
    background-color: #00439c;
    padding: 50px 0;
    font-size: 0.9rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer #globo {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer #globo img {
    height: 20px;
    vertical-align: top;
}

footer ul {
    margin-bottom: 2rem;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
}

footer #footer-sony-logo {
    height: 50px;
    margin-bottom: 20px;
}